html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#splash_screen {
    max-width: 80%;
    max-height: 80%;
    height: auto;
    width: auto;
    opacity: 1;
    animation: fadeOut 1s ease-in-out 3s forwards; 
}

@keyframes fadeOut { /* makes the opacity low lang */
    to {
        opacity: 0;
    }
}
